html,body{
    widows: 100%;
    height:auto;
}

div{
    margin: 0;
    border:0;
}

h1,h3{
    text-align: center;
    color: red;
}
h3{
    color:blue;
}

table{
    margin-right: auto;
    margin-left: auto;
}

.product{
    position: relative;
    left:20%;
    top:10px;
}
.intro{
    color:royalblue;
}
.price{
    color:red;
}
